/* ---- ---- LIBRESOCIAL  ---- ---- */
/*
Written by Heckyel
*/

@font-face {
    font-family: "libresocial";
    src: url('../fonts/libresocial.woff') format('woff'),
         url('../fonts/libresocial.ttf') format('truetype'),
         url('../fonts/libresocial.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "libresocial";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-diaspora:before { content: '\e800'; } /* '' */
.icon-friendica:before { content: '\e801'; } /* '' */
.icon-gitlab:before { content: '\e802'; } /* '' */
.icon-gnusocial:before { content: '\e803'; } /* '' */
.icon-hubzilla:before { content: '\e804'; } /* '' */
.icon-mastodon:before { content: '\e805'; } /* '' */
.icon-mediagoblin:before { content: '\e806'; } /* '' */
.icon-notabug:before { content: '\e807'; } /* '' */
.icon-pump:before { content: '\e808'; } /* '' */
.icon-tox:before { content: '\e809'; } /* '' */
.icon-xmpp:before { content: '\e810'; } /* '' */
